apiVersion: apps/v1
kind: Deployment
metadata:
  name: currency-converter
  namespace: dev-env
  labels:
    app: currency-converter
spec:
  replicas: 2
  selector:
    matchLabels:
      app: currency-converter
  template:
    metadata:
      labels:
        app: currency-converter
    spec:
      containers:
      - name: currency-converter
        image: currency_converter:v1
        imagePullPolicy: Never
        ports:
        - containerPort: 8080
        resources:
          requests:
            memory: "64Mi"
            cpu: "100m"
          limits:
            memory: "128Mi"
            cpu: "200m"
        livenessProbe:
          httpGet:
            path: /health
            port: 8080
          initialDelaySeconds: 5
          periodSeconds: 10


---

apiVersion: v1
kind: Service
metadata:
  name: currency-service
  namespace: dev-env
spec:
  selector:
    app: currency-converter
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8080
  type: NodePort
